html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}
body {
    font-family: "lucida Grands";
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.clear {
    clear: left;
}
.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.top-wrapper {
    padding: 210px 0 50px 0;
    background-image: url(background_image.png);
    background-size: 100%;
    color: white;
    text-align: center;  
}

.top-wrapper h1{
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 20px;
}
.top-wrapper p {
    letter-spacing: 2px;

}
marquee {
    text-align: center;
    width: 400px;
    font-family: serif;
    color: white;
    font-weight: bold;
    margin-top: 60px;
}
.btn-wrapper {
    text-align: center;
    margin-top: 10px;
}
.order {
    background-color: red;
    margin-top: 60px;
    margin-bottom: 50px;
}
.btn {
    opacity: 0.8;
    padding: 12px 24px;
    color: white;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
}
.btn:active {
    box-shadow: none;
    position: relative;
    top: 7px;
}
.btn:hover {
    opacity: 1;
    padding: 10px 24px;
}
header{
    width: 100%;
    height: 65px;
    background-color: saddlebrown;
    position: fixed;
    top: 0;
    z-index: 10;
}
.logo img {
    height: 65px;
    
}
.header-left {
    float: left;
}
.header-right {
    float: right;
    margin-right: -25px;
}
.header-right li{
    float: left;
}
.header-right a:hover {
    color: orange;
}
.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    transition: all 0.5s;
}
.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    
    display: none;
  }

/* Tentang Section */
.content_tentang {
    width: 100%;
    height: auto;
    background-color: #fff5f0;
    padding: 50px 0px;
    margin: auto;
    text-align: center;
}
.content_tentang img {
    border-radius: 50%;
    width: 20%;
    margin: auto;
}
.content_tentang .deskripsi_Tentang {
    background-color: #8b4513;
    width: 50%;
    padding: 20px 15px;
    margin: auto;
    border-radius: 10px;
}
.content_tentang .deskripsi_Tentang h3 {
    color: #341612;
    font-family: "comic sans ms";
    padding: 10px 0px;
    border-bottom: 2px solid #341612;
}
.content_tentang .deskripsi_Tentang h4 {
    color: #fff5f0;
    padding: 10px;
}
.content_tentang .deskripsi_Tentang p {
    text-align: justify;
    text-indent: 30px;
    color: #fff5f0;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
