* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 1170px;
    margin: 0;
    padding: 0;
    margin: auto;
}

/* Navigation Bar */
nav {
    background-color: #341612;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 10;
}
.logo img{
    width: 100px;
    margin-top: 8px;
    float: left;
    margin-left: 50px;
}
.header-right ul {
    float: right;
    margin-right: 50px;
}
.header-right ul li {
    display: inline-block;
    line-height: 80px;
    text-transform: uppercase;
}
.header-right ul li a {
    color: #fff5f0;
    font-weight: bold;
    padding: 0px 15px;
}
.active .fa {
    margin-right: 8px;
}
.header-right ul li a.active {
    background-color: #8b4513;
    padding: 7px 15px;
    border-radius: 4px;
}
.header-right ul li a:hover {
    background-color: #8b4513;
    padding: 7px 15px;
    border-radius: 4px;
}
/* Menu Icon */
.checkbtn {
    float: right;
    line-height: 80px;
    font-size: 30px;
    color: #fff5f0;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}

/* Home Page */
header {
    background-image: url("/images/background_image.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 140px 0px;
}
.heading {
    color: #fff5f0;
    margin: auto;
    text-align: center;
}
.heading img {
    width: 120px;
}
.heading h1 {
    font-size: 45px;
    font-family: "comic sans ms";
    margin-bottom: 10px;
}
.heading h3 {
    margin-bottom: 10px ;
}
.heading p {
    width: 50%;
    margin: 10px auto 50px auto;
}
.heading .order a {
    color: #fff5f0;
    background: #341612d0;
    padding: 15px 20px;
    border-radius: 6px;
}
.heading .order a:hover {
    background: #311612;
}

/* About's Page */
.content_1 {
    background-color: #fff5f0;
    width: 100%;
    padding: 50px 0px;
    height: auto;
    margin: auto;
    text-align: center;
}
/* .content_1 .icon-tentang {
    width: 90%;
    height: 90%;
    position: relative;
} */
.content_1 .icon-tentang img {
    border-radius: 50%;
    width: 20%;
}
.content_1 .icon-tentang .tentang_simbok {
    width: 50%;
    height: auto;
    background-color: #8b4513;
    border-radius: 25px;
    padding: 20px;
    color: #fff5f0;
    margin: auto;
}
.content_1 .icon-tentang .tentang_simbok h2 {
    padding: 10px 0px;
    font-family: "comic sans ms";
    border-bottom: 2px solid #341612;
    color: #341612;
}
.content_1 .icon-tentang .tentang_simbok h4 {
    padding: 10px;
}
.content_1 .icon-tentang .tentang_simbok p {
    text-align: justify;
    text-indent: 40px;
    font-size: 14px;
}

/* Product's Page */
.content_2 {
    margin: auto;
    padding: 30px 0px;
    background: #fff5f0;
    border-top: 1px solid #341612;
    height: auto;
    width: 100%;
    text-align: center;
}
.content_2 h2 {
    font-size: 30px;
    font-family: "comic sans ms";
    padding: 5px;
    margin-bottom: 30px;
    color: #341612;
}
.products {
    display: flex;
    margin: auto;
    justify-content: center;
}
.products .produk {
    width: 20%;
    border: 2px solid #8b4513;
    border-radius: 5px;
    background-color: #8b4513;
    margin: 10px;
}
.products .produk:hover {
    border: 2px solid #341612;
    background-color: #341612
}
.products .produk img {
    width: 100%;
    height: auto;
}
.products .produk p {
    color: #fff5f0;
    padding: 10px;
}
.more-btn {
    margin: 40px 0px 50px 0px;
}
.more-btn a {
    padding: 10px 15px;
    border: 1px solid #8b4513;
    color: #8b4513;
}
.more-btn a:hover {
    color: #fff5f0;
    background-color: #341612;
}

/* Footer */

 footer {
    width: 100%;
    height: 230px;
    background: #341612;
    display: block;
    color: #fff5f0;
    padding: 30px 50px;
    position: relative;
 }
 footer .contact {
    float: right;
 }
 footer .contact h3 {
    margin-bottom: 15px;
 }
 footer .contact ul li a {
    color: #fff5f0;
    font-size: 14px;
 }
 footer .contact ul li a:hover {
    color: #a55317;
 }
 footer .contact ul li a i.fa {
     padding: 5px 8px;
 }
.copyrights {
    position: absolute;
    font-size: 10px;
    bottom: 8px;
}
